<h1>Here Is A Demo Of Listing</h1>
<lib-listing *ngIf="demodata!=null && demodata.length>0"      

  [datasource]="demodata"     
  [skip]="demodata_skip"        
  [modify_header_array]="demodata_modify_header"     
  [jwttoken]="token"      
  [sourcedata]="tablename"                       
  [updateendpoint]="updateurl"         
  [statusarr]="statusarray" 
  [custombutton]="custombutton"       
  [apiurl]="domainurl"  
  [deleteendpoint]="delurl"           
  [detail_datatype]="demodata_datatype"   
  [detail_skip_array]="demodata_skip"     
  [editroute]="editroute1"   
  [url]="custom_link"         
  [date_search_source]="date_search_source"       
  [date_search_endpoint]="date_search_endpoint"    
  [search_settings]="search_settings"   
  [click_to_add_ananother_page]="click_to_add_ananother_page"     
  [emailarray]="emailarray"       
  [grab_link]="grab_link"   >      
</lib-listing>
<!-- <router-outlet></router-outlet> -->